<%- include('partials/head', {title: 'Productos' , styles: ['detalle', 'style-index' ]}) %>

    <body>
        <%- include('partials/header') %>
            <main>

                <section class="detalle">
                    <div class="cajadelproducto">
                        <div class="fotoPrincipal">
                            <div class="titulo">
                                <div>
                                    <p>Funko pop</p>
                                </div>
                                <div>
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                </div>
                            </div>
                            <div class="cj-img">
                                <button class="compartir"> <i class="fa-sharp fa-solid fa-share-nodes"></i></button>
                                <img src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>"
                                    alt="logo">
                            </div>
                        </div>
                        <div class="fotosSiguientes">
                            <img class="imgP"
                                src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>"
                                alt="logo">
                            <img class="imgP"
                                src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>"
                                alt="logo">
                        </div>
                    </div>

                    <div class="especificaciones">
                        <button class="favoritos"><i class="fa-regular fa-heart"></i></button>
                        <button class="btn-add det"><i class="fa-solid fa-cart-shopping"></i></button>
                        <h2>
                            $ <%= product.price %>
                        </h2>
                        <p>Disponibles: 5</p>

                        <details class="detail">
                            <sumary>
                                <%= product.description %>
                            </sumary>
                        </details>
                        <div class="linkInfo">
                            <li><a href="#" onclick="openDialog('mediosPago')">Medios de pago</a></li>
                            <li><a href="#" onclick="openDialog('envios')">Envíos</a></li>
                            <li><a href="#" onclick="openDialog('terminos')">Términos y condiciones</a></li>
                            <br>
                            <button class="btn-admin"><a
                                    href="/products/editProducts/<%= product.id %>">EDITAR</a></button>
                        </div>
                    </div>
                </section>

            </main>
            <%- include('partials/footer') %>

                <!-- Popups -->
                <dialog id="mediosPagoDialog">
                    <button class="close" onclick="closeDialog('mediosPago')"><i
                            class="fa-solid fa-circle-xmark"></i></button>
                            <br>
                    <h3>Medios de Pago</h3>
                    <h4>Tarjetas de crédito/débito:</h4>
                    <p>- Visa
                        - Mastercard
                        - American Express
                        - Discover
                    <h4>Billeteras digitales:</h4>
                    <p>- PayPal
                        - Apple Pay
                        - Google Pay
                        - Samsung Pay</p>
                </dialog>
                <dialog id="enviosDialog">
                    <button class="close" onclick="closeDialog('envios')"><i
                            class="fa-solid fa-circle-xmark"></i></button>
                            <br>
                    <h3>Envíos</h3>
                    <p>-Empacamos cuidadosamente los muñecos para garantizar su protección durante el transporte.</p>
                    <p>-Procesamos rápidamente tu pedido y verificamos la disponibilidad de los muñecos.</p>
                    <p>-Ofrecemos diferentes opciones de envío para adaptarnos a tus necesidades.</p>
                    <p>-Proporcionamos un número de seguimiento para que puedas rastrear tu paquete.</p>
                    <p>-Estamos disponibles para brindarte soporte y responder a tus preguntas durante todo el proceso.</p>
                    <p>-Nos aseguramos de que tu paquete sea entregado en la dirección indicada.</p>
                    <p>-Apreciamos tus comentarios para mejorar nuestros servicios y garantizar tu satisfacción.</p>
                    <p>-Si necesitas más información, no dudes en contactarnos. Estaremos encantados de ayudarte con tus
                        envíos de muñecos.</p>
                </dialog>
                <dialog id="terminosDialog">
                    <button class="close" onclick="closeDialog('terminos')"><i
                        class="fa-solid fa-circle-xmark"></i></button>
                        <br>
                    <h3>Términos y condiciones</h3>
                    -Antes de realizar una compra, es importante que leas y comprendas nuestros "Términos y Condiciones".
                    <h4>Aquí hay un resumen de los aspectos clave:</h4>
                    <h5>Descripciones de productos:</h5> Proveemos descripciones precisas de los Funkos Pop, pero las imágenes
                    pueden variar ligeramente.
                    Precios y pagos: Los precios están en moneda local y pueden cambiar sin previo aviso. Aceptamos
                    pagos seguros.
                    <h5>Envíos y entrega:</h5> Procesamos y enviamos a la dirección proporcionada. Los plazos de entrega pueden
                    variar según la ubicación.
                    <h5>Privacidad y protección de datos:</h5> Respetamos tu privacidad y protegemos tus datos personales.
                    <h5>Cancelaciones y devoluciones:</h5> Consulta nuestra política de cancelaciones y devoluciones para más
                    información.
                    <h5>Propiedad intelectual:</h5> Todos los derechos de propiedad intelectual pertenecen a sus respectivos
                    titulares.
                    Al realizar un pedido, aceptas cumplir con nuestros términos y condiciones.
                    Para más detalles, contáctanos. ¡Gracias por elegir nuestra tienda de Funkos Pop!
                </dialog>

                <script>
                    function openDialog(dialogName) {
                        const dialog = document.getElementById(dialogName + 'Dialog');
                        dialog.showModal();
                    }

                    function closeDialog(dialogName) {
                        const dialog = document.getElementById(dialogName + 'Dialog');
                        dialog.close();
                    }
                </script>
    </body>

    </html>