<%- include('partials/head', {title: 'Productos' , styles: ['detalle', 'style-index' ]}) %>

    <body>
        <%- include('partials/header') %>
            <main>

                <section class="detalle">
                    <div class="cajadelproducto">
                        <div class="fotoPrincipal">
                            <div class="titulo">
                                <div>
                                    <p>Funko pop</p>
                                </div>
                                <div>
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                </div>
                            </div>
                            <div class="cj-img">
                                <button class="compartir"> <i class="fa-sharp fa-solid fa-share-nodes"></i></button>
                                <img src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>"
                                    alt="logo">
                            </div>
                        </div>
                        <div class="fotosSiguientes">
                            <img class="imgP"
                                src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>"
                                alt="logo">
                            <img class="imgP"
                                src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>"
                                alt="logo">
                        </div>
                    </div>

                    <div class="especificaciones">
                        <button class="favoritos"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn-add det"><i class="fa-solid fa-cart-shopping"></i></button>
                        <h2>
                            $ <%= product.price %>
                        </h2>
                        <p>Disponibles: 5</p>

                        <details class="detail">
                            <sumary>
                                <%= product.description %>
                            </sumary>
                        </details>
                        <div class="linkInfo">
                            <li><a href="#">Medios de pago</a></li>
                            <li><a href="#">Envíos</a></li>
                            <li><a href="#">Términos y condiciones</a></li>
                            <br>
                            <button class="btn-admin"><a href="/products/editProducts/<%= product.id %>">EDITAR</a></button>
                        </div>
                    </div>
                </section>

            </main>
            <%- include('partials/footer') %>
    </body>

    </html>