<%- include('partials/head', {title: 'Home' , styles: ['style-index']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="container-main">
                    <!-- <div class="cabezas">
                        <img src="/images/marcas/funko-cabezagris-breaking-bad.png" alt="breakingBad">
                        <img src="/images/marcas/funko-cabezagris-DC.png" alt="DC">
                        <img src="/images/marcas/funko-cabezagris-MARVEL.png" alt="Marvel">
                        <img src="/images/marcas/funko-cabezagris-starwars.png" alt="SW">
                    </div> -->
                    <div class="slider">
                        <div class="slider-track">
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-breaking-bad.png"
                                    alt="breakingBad"></div>
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-DC.png" alt="DC"></div>
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-MARVEL.png" alt="Marvel"></div>
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-starwars.png" alt="SW"></div>

                            <div class="slide"><img src="/images/marcas/funko-cabezagris-breaking-bad.png"
                                    alt="breakingBad"></div>
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-DC.png" alt="DC"></div>
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-MARVEL.png" alt="Marvel"></div>
                            <div class="slide"><img src="/images/marcas/funko-cabezagris-starwars.png" alt="SW"></div>
                        </div>
                    </div>
                    <div class="search-container">
                        <input type="text" placeholder="Funko de...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <section class="destacados">
                        <h2>DESTACADOS</h2>
                        <article class="contenedorDestacados">
                            <% visited.forEach((product)=> { %>
                                <div class="infoDestacado">
                                    <img src="/images/funkos/<%= product.image %>" alt="ST">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <button class="btn-add"><a class='button-detalle-de-producto'
                                            href="/products/detail/<%= product.id %>">DETALLE</a></button>
                                    <button class="btn-add prod">Agregar al carrito</button>
                                </div>
                                <% }) %>
                        </article>
                    </section>
                    <section class="ofertas">
                        <h2>OFERTAS</h2>
                        <article class="contenedorOfertas">
                            <% inSale.forEach((product)=> { %>
                                <div class="infoOfertas">
                                    <img src="/images/funkos/<%= product.image %>" alt="C3">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <button class="btn-add of"><a class='button-detalle-de-producto'
                                            href="/products/detail/<%= product.id %>">DETALLE</a></button>
                                    <button class="btn-add car">Agregar al carrito</button>
                                </div>
                                <% }) %>
                        </article>
                    </section>
                    <div class="preventa">
                        <h2>PRE-VENTA</h2>
                        <button class="botonPreventa"><i class="fa-solid fa-circle-info"></i>MAS INFO</button>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>