<%- include('partials/head', {title: 'Log In' , styles: ['create']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="box-login">
                    <form action="/products" method="POST" enctype="multipart/form-data">
                        <div class="login-formulario">
                            <h1> CREAR PRODUCTO </h1>
                            <div class="box-label">
                                <div class="grup-label">
                                    <label class="login-label"> INGRESE LA IMAGEN DEL PRODUCTO </label>
                                    <input class="login-input" type="file" name="image">
                                </div>
                                <div class="grup-label">
                                    <label class="login-label"> INGRESE EL NOMBRE DEL PRODUCTO </label>
                                    <input class="login-input" type="text" name="name" placeholder="Nombre del producto"
                                        required>
                                </div>
                                <div class="box-label">
                                    <label class="login-label"> AÑADA UNA DESCRIPCIÓN </label>
                                    <div class="box-input">
                                        <textarea class="login-textarea" name="description" placeholder="Descripción"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="grup-label">
                                    <label class="login-label"> INGRESE LA CATEGORIA DEL PRODUCTO </label>
                                    <select name="category" class="login-input">
                                        <option value="" selected> Categoria </option>
                                        <% for(let i=0; i < categories.length; i++){ %>
                                            <option value="<%= categories[i].id %>">
                                                <%= categories[i].name %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="grup-label">
                                    <label class="login-label"> INGRESE LA SUBCATEGORIA DEL PRODUCTO </label>
                                    <select name="subcategory" class="login-input">
                                        <% for(let i=0; i < subcategories.length; i++){ %>
                                            <option value="<%= subcategories[i].id %>"
                                                selected="<%= subcategories[i].name=='none'?'selected':'' %>">
                                                <%= subcategories[i].name %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="grup-label">
                                    <label class="login-label"> INDIQUE EL PRECIO </label>
                                    <input class="login-input" type="number" name="price" required>
                                </div>
                            </div>
                            <div class="box-button">
                                <p class="login-button"> <button class="button-1" type="reset"> BORRAR </button> </p>
                                <p class="login-button"> <button class="button-2" type="submit"> ENVIAR </button> </p>
                            </div>
                        </div>
                    </form>
                </div>
            </main>

            <%- include('partials/footer') %>
    </body>

    </html>