<%- include('partials/head', {title: 'listado' , styles: ['style-index']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="container-main">
                    <h2 class="products-title">TODOS LOS PRODUCTOS</h2>
                    <section class="destacados">
                        <article class="contenedorDestacados">
                            <% products.forEach((product)=> { %>
                                <div class="infoDestacado">
                                    <img src="/images/funkos/<%= product.images[0]?product.images[0].url:'default.jpg' %>" alt="ST">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <h4>$ <%= product.price %>
                                    </h4>
                                    <button class="btn-add"><a class='button-detalle-de-producto'
                                            href="/products/detail/<%= product.id %>">DETALLE</a></button>
                                    <button class="btn-add prod">Agregar al carrito</button>
                                </div>
                                <% }) %>
                        </article>
                    </section>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>