<%- include('partials/head', {title: 'listado' , styles: ['style-index']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="container-main">
                    <h2 class="products-title">TODOS LOS PRODUCTOS</h2>
                        <% products.forEach((product)=> { %>
                        <section class="destacados">
                            <article class="contenedorDestacados">
                                <div class="infoDestacado">
                                    <button class="favorito"><i class="fa-regular fa-heart"></i></button>
                                    <img src="/images/funkos/<%= product.image %>" alt="imagen de producto">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <h4>$
                                        <%= product.price %>
                                    </h4>
                                   <a href="/products/detail/<%= product.id %>"><button class="btn-add">DETALLE</button></a>
                                </div>
                            </article>
                        </section>
                        <% }) %>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>