<%- include('../partials/head', {title: 'Profile' , styles: ['profile', 'create' ]}) %>


    <body>
        <%- include('../partials/header') %>
            <main class="scroll">
                <div class="box-profile" id="box-profile-edit">
                    <div class="detalle-perfil">
                        <h1 class="title">EDITAR MI CUENTA</h1>
                    </div>
                    <div class="perfil-usuario" id="perfil-usuario-edit">
                        <form action="/users/editUser/<%= user.id %>?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <span class="box-datos-edit">
                                <div class="box-avatar-edit">
                                    <input class="login-input" id="up-img" value="<%= user.avatar %>" type="file"
                                        name="avatar">
                                    <img src="/images/users/<%= user.avatar %>" alt="Foto del usuario" class="avatar"
                                        id="avatar-edit">
                                </div>
                                <div class="edit-data">
                                    <h3>NOMBRE:</h3> <input class="login-input" value="<%= user.firstName %>"
                                        type="text" name="firstName" required></p>
                                    <h3>APELLIDO:</h3> <input class="login-input" value="<%= user.lastName %>"
                                        type="text" name="lastName" required></p>
                                    <h3>DIRECCIÓN:</h3> <input class="login-input" value="<%= user.adress %>"
                                        type="text" name="adress" required></p>
                                    <h3>CIUDAD:</h3> <input class="login-input" value="<%= user.city %>" type="text"
                                        name="city" required></p>
                                    <h3>CÓDIGO POSTAL:</h3> <input class="login-input" value="<%= user.zipCode %>"
                                        type="number" name="zipCode" required></p>
                                    <h3>NÚMERO DE CONTACTO:</h3> <input class="login-input" value="<%= user.cell %>"
                                        type="number" name="cell" required></p>
                                    <h3>EMAIL:</h3> <input class="login-input" value="<%= user.email %>" type="text"
                                        name="email" required></p>
                                </div>
                            </span>
                            <div id="close-session-edit">
                                <button type="submit" class="btn-add" id="btn-add-edit">
                                    <p> ACTUALIZAR</p>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
            <script src="/js/scroll.js"></script>

    </body>
    
    </html>